<section class="hero has-background-white-ter is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container" *ngFor="let empr of empresasModelGet">
      <div class="columns is-centered" >
        <div class="column is-4-desktop is-3-widescreen"  >

            <div class="field">
              <label class="label">Selecciones la Empresa a Eliminar</label>
              <div class="select is-rounded">
                <select>
                  <option></option>
                  <option></option>
                </select>
              </div>
            </div>


          <div class="field is-grouped">
            <div class="control">
              <button class="btn btn-primary w-100 align-self-center" (click)="eliminarEmpresas(empr.id )">Eliminar Empresas</button>
            </div>
            <div class="control">
              <button class="button is-link" routerLink="/inicio">Cancelar</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>




