
<section class="hero has-background-white-ter is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-4-desktop is-3-widescreen">

            <div class="field">
              <label class="label">Sucursales</label>
              <div class="select is-rounded">
                <select>
                  <option>Rounded dropdown</option>
                  <option>With options</option>
                </select>
              </div>
            </div>


          <div class="field is-grouped">
            <div class="control">
              <button class="button is-link">Eliminar</button>
            </div>
            <div class="control">
              <button class="button is-link is-light">Cancelar</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

